@import url('reset.css');

html,
body {
    height: 100%;
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    background-color: rgba(0, 207, 250, 0.05);
}

h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #020509;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #020509;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    font-weight: 900;
    font-size: 16px;
    line-height: 164.1%;
    letter-spacing: 8px;
    color: #D4DDE1;
    text-transform: uppercase;
    text-decoration: none;
}

.header {
    background-color: #020509;
    padding: 34px 0;
}

.header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 42px;
}

.nav .nav-item>a {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #D4DDE1;
    text-decoration: none;
}

.nav .nav-item .active {
    color: #FF0038;
}

.nav .nav-item a:hover {
    color: #FF0038;
}

.section {
    padding: 84px 0;
    background-color: rgba(0, 207, 250, 0.05);

}

.section-primary {
    padding: 157px 0 181px 0;
    background-color: rgba(255, 206, 56, 0.05);
}

.section-primary .section-title {
    margin-bottom: 45px;
}

.section-primary .section-description {
    margin-bottom: 45px;
}

.section-content {
    max-width: 540px;
}

.section-title {
    margin-bottom: 64px;
}

.section .section-content {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}


.section-cards {
    background: #020509;
    padding: 98px 0 82px 0;
}

.section-cards>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    max-width: 16.66%;
    text-align: center;
    overflow: hidden;
}

.card-bottom {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-numb {
    font-size: 24px;
    line-height: 25px;
    color: #FFFFFF;
}

.card-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
}

.section-image {
    margin-bottom: 69px;
}

.section-image {
    margin-top: 84px;
}

.section-image>img {
    margin: 0 auto;
    display: block;
}

.footer {
    padding: 35px 0;
    background: #020509;
}

.footer-content {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    background: #FFCE38;
    border-radius: 4px;
    border: 0;
    padding: 24px 45px;
    color: #020509;
}

.button:hover {
    color: #FFCE38;
    background: #020509;
}

.button-image {
    display: flex;
    justify-content: center;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.icon:hover {
    fill: #727272;
}

.list-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-social>.list-item {
    padding: 0 5px;
}